aside.main-sidebar
  section.sidebar
    .user-panel
      .pull-left.image
        = image_tag('user2-160x160.jpg', class: 'img-circle')
      .pull-left.info
        p
          = current_user.name
        a[href="#"]
          i.fa.fa-circle.text-success
          |  Online
    form.sidebar-form[action="#" method="get"]
      .input-group
        input.form-control[type="text" name="q" placeholder="Search..."]
        span.input-group-btn
          button#search-btn.btn.btn-flat[type="submit" name="search"]
            i.fa.fa-search
    ul.sidebar-menu
      li.header
        h5
          | 公開グループ
          a.pull-right href="#"
            i.fa.fa-plus
      - @public_rooms.each do |room|
        li class=active_class(room.name)
          = link_to room
            i.fa.fa-circle-o
            span
              = room.name
    ul.sidebar-menu
      li.header
        h5
          | 非公開グループ
          a.pull-right href="#"
            i.fa.fa-plus
      - @private_rooms.each do |room|
        li class=active_class(room.name)
          = link_to room
            i.fa.fa-circle-o
            span
              = room.name
      li.header
        | Direct Chat
      li
        a[href="#"]
          i.fa.fa-circle-o.text-red
          span
            | User 1
      li
        a[href="#"]
          i.fa.fa-circle-o.text-yellow
          span
            | User 2
      li
        a[href="#"]
          i.fa.fa-circle-o.text-aqua
          span
            | User 3