.login-box
  .login-logo
    b
      | Registration
  .login-box-body
    p.login-box-msg
      | Register a new membership

    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group.has-feedback
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
        span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
        span.glyphicon.glyphicon-lock.form-control-feedback
        - if @minimum_password_length
          em
            | (
            = @minimum_password_length
            |  characters minimum)
      .form-group.has-feedback
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Retype password'
        span.glyphicon.glyphicon-log-in.form-control-feedback
      .row
        .col-xs-4
          = f.submit 'Sign up', class: 'btn btn-primary btn-block btn-flat'

    = render "devise/shared/links"
