.content-wrapper
  section.content-header.fixed
    h1
      = @room.name

  .direct-chat-messages data-room-name=@room.name

.main-footer.fixed
  form
    .col-md-12
      = text_area_tag 'message', '', placeholder: 'Type Message ...', class: 'form-control chat-message-textarea', id: 'chat-message', maxlength: "4000", style: 'height: 34px;'
