.login-box
  .login-logo
    b
      | Login
  .login-box-body
    p.login-box-msg
      | Sign in to start your session

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group.has-feedback
        = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email'
        span.glyphicon.glyphicon-envelope.form-control-feedback
      .form-group.has-feedback
        = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Password'
        span.glyphicon.glyphicon-lock.form-control-feedback
      .row
        - if devise_mapping.rememberable?
          .col-xs-8
            .checkbox.icheck
              label
                = f.check_box :remember_me
                |  Remember Me
        .col-xs-4
          = f.submit 'Sign in', class: 'btn btn-primary btn-block btn-flat'

    = render 'devise/shared/links'

coffee:
  $('input').iCheck({
    checkboxClass: 'icheckbox_square-blue',
    radioClass: 'iradio_square-blue',
    increaseArea: '20%'
  });
