if message.created_user_id == current_user.id
  .direct-chat-msg.right
    .direct-chat-info.clearfix
      .direct-chat-timestamp.pull-right(data-created-at=message.created_at)
        = "(" + Utils.relativeDate(new Date(message.created_at)) + ")"
      .direct-chat-name.pull-right
        = message.created_user_name
    <%= image_tag("user3-128x128.jpg", class: 'direct-chat-img') %>
    .direct-chat-text.pull-right!= message.content
      if message.links.length > 0
        for link in message.links
          .attachment-block.clearfix
            if link.image != ""
              img.attachment-img(src=link.image, width='100', height='100')

            .attachment-pushed
              h4.attachment-heading
                a(href=link.url, target='_blank')= link.title
              .attachment-text= link.description
else
  .direct-chat-msg
    .direct-chat-info.clearfix
      span.direct-chat-name.pull-left
        = message.created_user_name
      span.direct-chat-timestamp.pull-left(data-created-at=message.created_at)
        = "(" + Utils.relativeDate(new Date(message.created_at)) + ")"
    <%= image_tag("user1-128x128.jpg", class: 'direct-chat-img') %>
    .direct-chat-text.pull-left!= message.content
      if message.links.length > 0
        for link in message.links
          .attachment-block.clearfix
            if link.image != ""
              img.attachment-img(src=link.image, width='100', height='100')

            .attachment-pushed
              h4.attachment-heading
                a(href=link.url, target='_blank')= link.title
              .attachment-text= link.description