.direct-chat-messages {
  height: -webkit-calc(100% - 250px);
  height: calc(100% - 250px);
  margin-top: 50px;
  margin-bottom: 40px;
}

.direct-chat-text {
  // white-space: pre-wrap;
  &.pull-right {
    margin-right: 10px;
  }
  &.pull-left {
    margin-left: 10px;
  }

  p {
    margin: 0px;
  }
}

.direct-chat-timestamp {
  padding-left: 5px;
}

.main-footer {
  &.fixed {
    background: #fff;
    padding: 5px;
    color: #444;
    border-top: 1px solid #d2d6de;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 999;
  }
}

.content-header {
  &.fixed {
    width: 100%;
    height: 50px;
    background: #fff !important;
    padding: 10px;
    color: #444;
    border-top: 1px solid #d2d6de;
    position: fixed;
    z-index: 999;
  }
}

// bootstrapのclearfixのcontentを上書き
.attachment-block {
  white-space: normal;
  &.clearfix:before, &.clearfix:after {
    content: "";
  }

  > .attachment-pushed > .attachment-text {
    white-space: pre-wrap;
  }
}