doctype html
html
  head
    title
      | RailsChat
    meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'
    = csrf_meta_tags
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body.hold-transition.skin-blue.sidebar-mini.fixed
    .wrapper
      header.main-header
        a.logo[href="../../index2.html"]
          span.logo-mini
            b
              | A
            | LT
          span.logo-lg
            b
              | Admin
            | LTE
        nav.navbar.navbar-static-top
          a.sidebar-toggle[href="#" data-toggle="offcanvas" role="button"]
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-custom-menu
            ul.nav.navbar-nav
              li.dropdown.messages-menu
                a.dropdown-toggle[href="#" data-toggle="dropdown"]
                  i.fa.fa-envelope-o
                  span.label.label-success
                    | 4
                ul.dropdown-menu
                  li.header
                    | You have 4 messages
                  li
                    ul.menu
                      li
                        a[href="#"]
                          .pull-left
                            = image_tag('user2-160x160.jpg', class: 'img-circle')
                          h4
                            |  Support Team 
                            small
                              i.fa.fa-clock-o
                              |  5 mins
                          p
                            | Why not buy a new awesome theme?
                  li.footer
                    a[href="#"]
                      | See All Messages
              li.dropdown.notifications-menu
                a.dropdown-toggle[href="#" data-toggle="dropdown"]
                  i.fa.fa-bell-o
                  span.label.label-warning
                    | 10
                ul.dropdown-menu
                  li.header
                    | You have 10 notifications
                  li
                    ul.menu
                      li
                        a[href="#"]
                          i.fa.fa-users.text-aqua
                          |  5 new members joined today 
                  li.footer
                    a[href="#"]
                      | View all
              li.dropdown.tasks-menu
                a.dropdown-toggle[href="#" data-toggle="dropdown"]
                  i.fa.fa-flag-o
                  span.label.label-danger
                    | 9
                ul.dropdown-menu
                  li.header
                    | You have 9 tasks
                  li
                    ul.menu
                      li
                        a[href="#"]
                          h3
                            |  Design some buttons 
                            small.pull-right
                              | 20%
                          .progress.xs
                            .progress-bar.progress-bar-aqua[style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"]
                              span.sr-only
                                | 20% Complete
                  li.footer
                    a[href="#"]
                      | View all tasks
              li.dropdown.user.user-menu
                a.dropdown-toggle[href="#" data-toggle="dropdown"]
                  = image_tag('user2-160x160.jpg', class: 'user-image')
                  span.hidden-xs
                    = current_user.name
                ul.dropdown-menu
                  li.user-header
                    = image_tag('user2-160x160.jpg', class: 'img-circle')
                    p
                      = current_user.name
                      small
                        = current_user.email
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat[href="#"]
                        | Profile
                    .pull-right
                      = link_to destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat'
                        | Sign out

      = cell(:sidemenu).()

      = yield
