doctype html
html
  head
    title
      | RailsCha
    meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body.hold-transition.login-page
    = yield
